.card {
    width: 190px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #2a2b38;
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgba(100, 100, 100, 0.1);
}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1em;
    width: 1em;
    fill: #4687ff;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}

.btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    border-top: 0.5px solid #2495ff;
    font-size: .9em;
    background: linear-gradient(180deg, #006fd6 0 40%, #0067c7, #0050d1);
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(0, 79, 209, 0.5);
    transition: all .2s ease-in-out;
    padding: 8px 34px;
    cursor: pointer;
    font-weight: 400;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}

.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    box-shadow: 0 8px 24px 0 rgba(0, 79, 209, 0.8);
}

.btn-link:hover {
    color: #2495ff;
}

@media screen and (max-width: 640px) {
    .card {
        width: 250px !important;
        margin-top: 60%;
    }
}


.logo-login-hero {
    font-size: 50px;
    color: #2495ff;
}

.title-login-hero {
    font-size: 20px;
    color: #2495ff;
    font-weight: 800;
}